<div class="col-md-12">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">
                <li><a href="#/runs">GT-FAR Runs</a></li>
                <li class="active">{{ run.name }}</li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <alert ng-repeat="alert in alerts" type="{{ alert.type }}" close="closeAlert($index)">
                <i ng-class="getAlertIcon(alert.type)"></i>&nbsp;{{ alert.message }}
            </alert>
        </div>
    </div>

    <div class="row form-horizontal">
        <div class="col-xs-12">
            <div class="form-group">
                <label for="inputRunName" class="col-xs-6 col-sm-5 col-md-4 col-lg-3 control-label">Workflow Name</label>

                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                    <span class="help-block">{{ run.name }} <span class="label" ng-class="getStatusColor('label')">{{ getStatusText() }}</span></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputFile" class="col-xs-6 col-sm-5 col-md-4 col-lg-3 control-label">Reads File</label>

                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                <span class="help-block"><i class="fa fa-file-text-o"></i>
                <a ng-href="{{ inputDownload + run.filename }}">{{ run.filename }}</a></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputGTF" class="col-xs-6 col-sm-5 col-md-4 col-lg-3 control-label">Annotation File</label>

                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                    <span class="help-block">{{ run.gtf }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputGenome" class="col-xs-6 col-sm-5 col-md-4 col-lg-3 control-label">Genome Version</label>

                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                    <span class="help-block">{{ run.genome }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputReadLength" class="col-xs-6 col-sm-5 col-md-4 col-lg-3 control-label">Read Length</label>

                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                    <span class="help-block">{{ run.readLength }}</span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputMismatches" class="col-xs-6 col-sm-5 col-md-4 col-lg-3 control-label">Mismatches</label>

                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                    <span class="help-block">{{ run.mismatches }}</span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-6 col-sm-5 col-md-4 col-lg-3 control-label" for="mapFiltered">Align QC Filtered Reads</label>

                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                <span class="help-block">
                    <input id="mapFiltered" type="checkbox" ng-model="run.mapFiltered" disabled>
                </span>
                </div>
            </div>
            <div class="form-group">
                <label class="col-xs-6 col-sm-5 col-md-4 col-lg-3 control-label" for="genSplice">
                    Generate New Splice Candidates
                </label>

                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                    <span class="help-block"><input type="checkbox" ng-model="run.genSplice" disabled></span>
                </div>
            </div>
            <div class="form-group">
                <label for="inputStrandRule" class="col-xs-6 col-sm-5 col-md-4 col-lg-3 control-label">Strand Rule</label>

                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                    <span class="help-block text-capitalize">{{ run.strandRule }}</span>
                </div>
            </div>
            <div class="form-group" ng-show="run.emails.length > 0">
                <label for="inputEmail" class="col-xs-6 col-sm-5 col-md-4 col-lg-3 control-label">Email Recipient(s)</label>

                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                <span class="help-block" ng-repeat="email in run.emails"><i class="fa fa-envelope-o"></i>
                    <a ng-href="mailto:{{ email }}">{{ email }}</a>
                </span>
                </div>
            </div>
            <div class="form-group">
                <label for="Started On" class="col-xs-6 col-sm-5 col-md-4 col-lg-3 control-label">Started On</label>

                <div class="col-xs-6 col-sm-7 col-md-8 col-lg-9">
                    <span class="help-block">{{ getFormattedDate(run.created) }}</span>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div id="progressAndStopContainer" class="col-xs-10" ng-show="showBarOrAlert('bar')">
            <div id="progressContainer">
                <div class="progress">
                    <div class="progress-bar progress-bar-striped active" ng-class="getStatusColor('progress-bar')" role="progressbar"
                         aria-valuenow="{{ status.progress }}" aria-valuemin="0" aria-valuemax="100"
                         style="width: {{ status.progress }}%;">
                        {{ status.progress }}%
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-2" ng-show="showBarOrAlert('bar')">
            <button class="btn btn-danger btn-sm" ng-click="stopRun()">Stop</button>
        </div>
        <div class="col-xs-12">
            <div ng-show="showBarOrAlert('alert')" class="alert" role="alert"
                 ng-class="getStatusColor('alert')">{{ getStatusText() }}
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="outputFileSection">
                <tabset>
                    <tab heading="Output Files">
                        <p></p>

                        <p></p>

                        <div ng-show="outputFiles.length == 0">
                            No output files available.
                        </div>
                        <ul class="list-unstyled">
                            <li ng-repeat="file in outputFiles" class="list-group-item" style="border: none;">
                                <i class="fa fa-file-text-o fa-lg"> </i>
                                <a ng-href="{{ outputDownload + file.name }}">{{ file.name }}</a>
                            </li>
                        </ul>
                    </tab>
                </tabset>
            </div>
        </div>
    </div>
</div>
