{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <div class="col-xs-12">
            <div class="row">
                <div class="col-xs-12">
                    <h3>Contact Us</h3>

                    <p></p>

                    <p></p>

                    <p></p>

                    <p> Please contcat us at <a href="mailto:gtfar-devel@isi.edu"><i class="fa fa-envelope-o"> </i>
                        gtfar-devel@isi.edu</a>, for
                    <ol>
                        <li>Setup the <a href="pegasus.isi.edu">Pegasus</a> GT-FAR pipeline to run on you own
                            cluster.
                        </li>
                        <li> Ask questions or provide feedback.
                        </li>
                        <li> Report issues with the pipeline.</li>
                    </ol>
                    </p>

                    <p>Please contact us at <a href="mailto:pegasus-support@isi.edu"><i class="fa fa-envelope-o"> </i>
                        pegasus-support@isi.edu</a>, if you would like to integrate your pipeline with <a
                            href="pegasus.isi.edu">Pegasus.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
