<footer id="footer" class="text-center text-middle topBuffer">
    <nav class="hidden-xs">
        <a href="http://pegasus.isi.edu"><img src="{{ url_for ('static', filename='images/footer/pegasus.jpg') }}"
                                              alt="Pegasus Workflow Management System"/></a>
        <a href="http://www.isi.edu"><img src="{{ url_for ('static', filename='images/footer/isi.png') }}"
                                          alt="Information Sciences Institute"/></a>
        <a href="http://www.usc.edu"><img src="{{ url_for ('static', filename='images/footer/usc.png') }}"
                                          alt="University of Southern California"/>
        </a>

        <p></p>
    </nav>
    <p id="copyright">&copy; 2014 The University of Southern California</p>
</footer>
