<header>
    <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#nav-button">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Logo</a>
        </div>
        <div class="container">
            <div class="collapse navbar-collapse" id="nav-button">
                <ul class="nav navbar-nav">
                    <li><a href="/#/runs"><i class="fa fa-home fa-lg"></i> Home</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">GTFAR <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="/#/runs"><i class="fa fa-list fa-lg"></i> View All Files</a></li>
                            <li><a href="/#/createRun"><i class="fa fa-upload fa-fw"></i> Add Files</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/#/help"><i class="fa fa-question fa-lg"></i> Help</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>