{% extends 'base.html' %}
{% block content %}
    <div class="container" data-spy="scroll" data-target="affix-nav">
        <nav id="affix-nav" class="sidebar col-md-3">
            <ul class="nav sidenav" data-spy="affix" data-offset-top="10">
                <li class="active"><a href="{{ url_for('help_page') }}#science">Science</a>
                <li><a href="{{ url_for('help_page') }}#webInterface">Web Interface</a>
                    <ul class="nav">
                        <li><a ng-href="{{ url_for('help_page') }}#viewRuns">Viewing Runs</a></li>
                        <li><a href="{{ url_for('help_page') }}#newRun">Creating a New Run</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('help_page') }}#contact">Contact</a></li>
            </ul>
        </nav>
        <div class="content col-md-9">
            <h3 id="important">Important Information</h3>
            <h4 id="browsers">Supported Browsers</h4>

            <p>
                We support latest versions of the following browsers.

            <ul>
                <li>Google Chrome</li>
                <li>Mozilla Firefox</li>
                <li>Apple Safari</li>
                <li>Internet Explorer</li>
            </ul>
            </p>

            <h4 id="github">SourceCode</h4>

            <p>Source code for the GT-FAR pipeline is hosted on <i class="fa fa-github fa-lg"> </i> GitHub at <a
                    href="https://github.com/pegasus-isi/pegasus-gtfar">https://github.com/pegasus-isi/pegasus-gtfar</a>
            </p>


            <h3 id="science"> Science</h3>

            <p>The help resources for the science behind GT-FAR are coming soon.</p>

            <h3 id="webInterface"> Using the Web Interface</h3>

            <p>The web interface provides an organized way for you to create and monitor runs for your workflows.</p>
            <h4 id="viewRuns">Viewing Runs</h4>

            <p>The default page you will be taken to the page that lists all of the runs. At any time you can get back
                to
                this page by clicking the Home icon at the top menu.
                Here you will be able to see all runs listed in order of most recently created to least recently
                created.
                You can sort the list however you like by clicking the headers at the top of the table.
                You can also search for a specific run by clicking the triangle icon at the top right corner of the
                table,
                and then entering your query into the box that appears.
                To view the details of any page, click on the name of the run that you want to inspect. The details page
                will open up to show you what parameters were input into the run when it was created, how far along the
                run
                is progress, how many failures have been detected, and what output files are available for download.
                On the details page you can download files by clicking on the name of the file.</p>
            <h4 id="newRun">Creating a New Run</h4>

            <p>There are two ways to get to the page to create a new run. Your first option is to click the GT-FAR
                dropdown
                menu at the top and then click
                "Start New Run". Your second option is to click the "Start New Run" button at the listing page.</p>

            <h3 id="contact">Contact Us</h3>

            <p> Please contcat us at <a href="mailto:gtfar-devel@isi.edu"><i class="fa fa-envelope-o"> </i>
                gtfar-devel@isi.edu</a>, for
            <ol>
                <li>Setup the <a href="pegasus.isi.edu">Pegasus</a> GT-FAR pipeline to run on you own
                    cluster.
                </li>
                <li> Ask questions or provide feedback.
                </li>
                <li> Report issues with the pipeline.</li>
            </ol>
            </p>

            <p>Please contact us at <a href="mailto:pegasus-support@isi.edu"><i class="fa fa-envelope-o"> </i>
                pegasus-support@isi.edu</a>, if you would like to integrate your pipeline with <a
                    href="pegasus.isi.edu">Pegasus.</a>
            </p>
        </div>
    </div>
{% endblock content %}
