{% extends "index.html" %}
{% block title -%}
    Pegasus GT-FAR
{%- endblock title %}
{% block content -%}
    <!--
    ~ We do not hav a div with ng-app="gtfarApp" because we are bootstrapping in the app in loader.js.
    ~ We are bootstrapping the app in because we are using require.js and if we try using ng-app in junction
    ~ with require.js then the app object will not have been created and nothing will work, so stick with
    ~ the bootstrap.
    -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Pegasus GT-FAR</h1>
            </div>
        </div>
        <div class="row" ui-view></div>
    </div>

    <!--
    ~ I feel like there should be a better way to get the apiLinks from Flask, but this is
    ~ the best we have for now.
    -->
    <div id="apiLinks" style="display:none">{{ apiLinks }}</div>
    <script>
        window.apiLinks = JSON.parse(document.getElementById("apiLinks").textContent);
        window.GTFAR_S3_BUCKET = '{{ config.GTFAR_S3_BUCKET }}';
    </script>
{%- endblock content %}
